{% extends 'base.html'%}

{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock%}

{% block content %}

<div class="container-fluid">
  <div class="row" id="one">
    <div class="col-md-8">

      <div class="cards">
        <hr>
        <h4>BLOGS TODAY</h4>
        <hr>
        {% for blog in first %}
          <h3>{{blog.post}}</h3>
        {% endfor %}
        <img src="" alt="my image" height="200px" width="100%">
        <div class="middle">
          <a class="btn btn-info btn-lg text-center" href="/view_blogs"> Read More</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <h4>Blogs</h4>
          {% for blog in index %}
          <div class="card-three">
            <h3>{{blog.body}}</h3>
            <p>By:{{blog.post}}</p>
            <p>Posted at {{blog.date_posted}}</p>
            <p><a href="/comment">leave comment</a></p>
          </div>
        {% endfor %}
        </div>
      </div>

    </div>

    <div class="col-md-2">
      <hr>
      <h3>Quotes</h3>
      <hr>
      {%for items in random%}
      <hr>
      <div class="cards-two">
      <h4>Quote by {{items.author}}</h4>
      <p>~<em>{{items.quote}}</em></p>
      </div>
      <br>



      {%endfor%}

<a class="btn btn-success btn-lg text-center" href="/new_blog"> Add a new =blog</a>
    </div>
  </div>
</div> -->
{% endblock%}
